@font-face {
	font-family: "Be Vietnam Pro", sans-serif;
}

body {
	background: #fff;
	font-family: "Be Vietnam Pro", sans-serif;
}

main {
    width: 90%;
    left: 5%;
    position: absolute;
}

text {
	font-family: "Be Vietnam Pro", sans-serif;
}

.title{
    background-color: white;
    min-height: 33vh;
    margin: 0% 5%;
}

#header {
    top: 0;
    background-color: white;
    position: fixed;
    width: 100%;
    display: flex; 
    align-items: center;
    z-index: 100;
    max-height: 10vh;
}

#transition-title {
    margin-bottom: 5vh;
}

.header-left {
    margin: 1% 5%;
    font-size: 34px;
}

.header-right {
    position: absolute;
    right: 5%;
}

.header-right > h2  {
    font-size: 24px;
    margin: 0px 0px !important;
}

.parent {
    display: flex;
}

.right {
    right: 10%;
    width: 36%;
}

.chart {
    position: absolute;
}

.experience {
    /* visibility: hidden; */
}

tr {
    border-bottom: none;
    margin: 0% 80%;
}